* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-enter {
  transform: translateX(0px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.navbar {
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: lightgrey;
}

.navbar_links {
  padding: 15px 0px;
  display: flex;
  gap: 15px;
}
